<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="QuestIpAddress" value="192.168.1.100"/>
    <!-- App package name can be found through SideQuest (installed apps view).
         Insert only beginning of the name, as the version number can change on update. -->
    <add key="EchoVrPartialAppName" value="com.readyatdawn.r"/>
    <add key="DetailsText" value="Somewhere in the arena..."/>
    <add key="StateText" value="...throwing disc at the speed of light"/>
    <add key="ImageHoverText" value="Get to your launchers!"/>
    <add key="ShowTrayPopup" value="true"/>
  </appSettings>
</configuration>